body {
    background-color: black;
}

.title {
    color: white;
    text-align: center;
    font-size: 50px;
}

.section {
    margin: 10px auto;
    width: 70%;
    background-color: rgba(225, 225, 225, 0.5);
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.boxes {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

button {
    background-color: black;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1.5px solid white;
    border-radius: 30px;
}

button:hover {
    background-color: white;
    color: black;
}