body {
    background-color: black;
}

.title {
    color: white;
    text-align: center;
    font-size: 50px;
}

.list {
    margin: auto;
    width: 50%;
    background-color: rgba(225, 225, 225, 0.5);
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 20px 20px;
}

button {
    background-color: black;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1.5px solid white;
    border-radius: 30px;
}

.btn-section {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
}

button:hover {
    background-color: white;
    color: black;
}

input {
    width: 100%;
}

#list {
    padding-right: 30px;

}